body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(209, 245, 245);
}

img {
  max-width: 100%;
}
.wrapper {
  max-width: 1100px;
  margin: auto;
}

.appoinment-form h2 {
  text-align: center;
  font-size: 30px;
  color: darkblue;
  margin-top: 0;
}

.appoinment-form form {
  padding: 40px;
  border: 1px solid rgb(212, 202, 202);
  border-radius: 8px;
}

.appoinment-form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 8px;
  border: 2px solid darkblue;
  font-size: 20px;
  box-sizing: border-box;
}
.appoinment-form textarea {
  height: 200px;
  width: 100%;
  font-size: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 14px;
  margin-bottom: 20px;
  border: 2px solid darkblue;
}
.gander-group input {
  width: 20px;
}
.gander-label {
  font-size: 20px;
}
.gander-group {
  margin-top: 20px;
}

.appoinment-form {
  background-color: white;
}

.mamun {
  max-width: 100%;
}

.form-btn {
  outline: none;
  border: none;
  background-color: darkblue;
  color: white;
  margin-top: 20px;
  text-align: center;
}
.appoinment-img img {
  border-radius: 8px;
}
@media (min-width: 700px) {
  .appoinmen-wrapper {
    display: flex;
    /* align-items: center; */
    padding-top: 30px;
    /* padding-bottom: 50px; */
  }
  .appoinment-img img {
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
  }

  .aappoinment-form {
    border-radius: 0 8px 8px 0;
  }
}
@media (min-width: 400px) {
  .mamun {
    max-width: 100%;
  }
}
